@media screen and (max-width: 600px) {
  .container-fluid nav {
    flex-direction: row-reverse;
  }
  .container-fluid nav label {
    display: block;
  }

  .container-fluid ul {
    display: none;
  }

  .site-header > i {
    left: 258px;
  }

  .about.border-rounded {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about.border-rounded .about-header {
    bottom: unset;
  }

  .about.border-rounded .about-text {
    line-height: 2;
    font-size: 20px;
  }

  .gallery {
    margin: unset;
    text-align: center;
  }
}
